nav ul {
    list-style-type:none;
    margin: 0;
}

nav li {
    display: inline-block;
    transition: 500ms;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul li:nth-child(3) a {
    background-color: var(--accent);
    padding: var(--button-padding);
    color: white;
    text-decoration: none;
}

nav ul li a:not(li:nth-child(3) a) {
    text-decoration: underline dotted;
    text-underline-offset: 3px;
}

nav ul li:nth-child(3) a:hover {
    background-color: var(--accent-hover);
}

nav ul li a:not(li:nth-child(3) a):hover {
    color: var(--accent-hover);
}
